@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parentNavbarContainer {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.parentHomeContainer {
  padding: 1rem 12rem;
}


@media screen and (max-width:768px){
  .parentHomeContainer{
    padding: 1rem 5rem;
  }
}