/* Navbar Styling */
.navbarContainer {
  padding: 0.8rem 2rem;
  background-color: #f0f0f0;
  box-shadow: 3px 3px 3px gray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.listIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.listIcon:hover{
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}
@media screen and (max-width:640px){
 .navbarContainer{
    padding-left:4rem;
    padding-right: 4rem;
 }   

 .listIcon{
  display: none;
 }
}

